

Câu C1:Dùng border-box
.container{
    width:960px;
    margin:0 auto;
}

.sidebar{
    width:300px;
    padding:20px;
    border:1px solid #ccc;
    float:left;
    background:lightblue;
}

.content{
    width:556px;
    padding:30px;
    border:1px solid #ccc;
    float:left;
    background:lightgreen;
}